<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.twit">
		<category id="general" label="30001" help="">
			<group id="1" label="30002">
				<setting id="twit_live" type="integer" label="30002" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30003">0</option>
							<option label="30004">1</option>
						</options>
					</constraints>
					<control type="spinner" format="string">
						<heading>30002</heading>
					</control>
				</setting>
			</group>
			<group id="2" label="30005">
				<setting id="debug" type="boolean" label="30006" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3" label="30035">
				<setting id="download" type="path" label="30037" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source>files</source>
						</sources>
						<writable>true</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>32031</heading>
					</control>
				</setting>
			</group>
			<group id="4" label="30032">
				<setting id="run_chat" type="boolean" label="30020" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="nickname" type="string" label="30021" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30021</heading>
					</control>
				</setting>
				<setting id="username" type="string" label="30022" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30022</heading>
					</control>
				</setting>
				<setting id="password" type="string" label="30023" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30023</heading>
						<hidden>true</hidden>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>